
header{
	float: right;
}

#signin{
    background-color:#4d90fe;
    color:#ffffff;
    padding:5px 8px;
    font-weight: bold;
    border-radius: 3px;
    border: 1px solid #3079ed
    margin:5px 8px;
}

a{
	font-size: 15px;
	text-decoration: none;
	color:#6f6f6f;
}

a:hover{
	background:#f1f1f1;
}

img{
	margin-top: 190px;
	padding-left: 150px;
}

div{
	text-align: center;
	margin-top:10px;
}

input{
	width: 550px;
	height: 30px;
}

input:hover{
	border-color:green;
}


button{
	background-color: #f1f1f1 ;
    color: #606060;
	width: 160px;
	height:35px;
	border: 2px solid #e7e7e7 ;
}

footer{
	background-color:#f1f1f1;
	margin-top:135px;
	height:35px;
	color:  black ; 
	padding-top:15px;
	width:100%;
	border-style: thin;
	position: fixed;
} 
 
.firstbuttom{
	padding-left: 40px;
}
.secondbuttom{
    float: right; 
    padding-right: 55px;

}

